[submodule "frontend"]
	path = frontend
	url = https://github.com/OpricaLucianAndrei/PrestigeCarBoutiqueWebsite
[submodule "backend"]
	path = backend
	url = https://github.com/OpricaLucianAndrei/PrestigeCarBoutique
